<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ArtFusion | home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body style="background-color: black;">
    <ul class="messages" id="msg_">
        {% if messages %}
            {% for message in messages %}
                <!-- <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> -->
                {% if message.tags == "success" %}
                    <div class="alert alert-primary mt-2 me-2" role="alert">
                        {{ message }}
                    </div>
                {% elif message.tags == "error" %}
                    <div class="alert alert-danger mt-2 me-2" role="alert">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-info mt-2 me-2" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </ul>

    {% include 'partials/navbar.html' with logged_in=user_profile.logged_in nav_active=user_profile.nav_active %}

    <div class="row mt-3">
        {% if user_profile.logged_in %}
        <div class="col-5">
            <section class="vh-3">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center ">
                        <div class="col col-md-9 ">
                            <div class="card" style="border-radius: 15px;">
                                <div class="card-body p-2">
                                    <div class="d-flex text-black">
                                        <div class="flex-shrink-0">
                                            {% if user_profile.profile_photo %}
                                            <img src="{{ user_profile.profile_photo.url }}"
                                                alt="Generic placeholder image"
                                                class="img-fluid img-thumbnail mt-4 mb-2" id="profile_pic"
                                                style="width: 150px; z-index: 1;">
                                            {% else %}
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                                                alt="Generic placeholder image"
                                                class="img-fluid img-thumbnail mt-4 mb-2" id="profile_pic"
                                                style="width: 150px; z-index: 1;">
                                            {% endif %}
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h5 class="mb-1">{{ user_profile.userName | default:"Danny McLoan"}}</h5>
                                            <p class="mb-2 pb-1" style="color: #2b2a2a;">{{ user_profile.profession | default:"Senior Journalist" }}</p>
                                            <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                                                style="background-color: #efefef;">
                                                <div>
                                                    <p class="small text-muted mb-1">Posts</p>
                                                    <p class="mb-0">{{ user_profile.no_posts | default:0}}</p>
                                                </div>
                                                <div class="px-3">
                                                    <p class="small text-muted mb-1">Followers</p>
                                                    <p class="mb-0">{{ user_profile.no_followers | default:0}}</p>
                                                </div>
                                                <div>
                                                    <p class="small text-muted mb-1">following</p>
                                                    <p class="mb-0">{{ user_profile.no_following | default:0 }} <span id="following_warning"></span> </p>
                                                </div>
                                            </div>
                                            <div class="d-flex pt-1">
                                                <a type="button" href="{% url 'upload_post' %}"
                                                    class="btn btn-outline-primary me-1 flex-grow-1">Post</a>
                                                {% if user_profile.userName %}
                                                <a type="button" href="{% url 'profile' user_profile.userName %}"
                                                    class="btn btn-primary flex-grow-1">View Profile</a>
                                                {% else %}
                                                <button type="button" class="btn btn-primary flex-grow-1" disabled>View
                                                    Profile</button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container vh-3 mt-3 " style="width: 460px;">
                <div class="card text-center">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs d-flex justify-content-evenly">
                            <li class="nav-item" style="width: 50%;">
                                <a class="nav-link fol active fol-fol" id="followers_btn" aria-current="true" onclick="load_follow_ers_ing('followers')">Followers</a>
                            </li>
                            <li class="nav-item" style="width: 50%;">
                                <a class="nav-link fol" id="following_btn" aria-current="true" onclick="load_follow_ers_ing('following')">Following</a>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body scrollDiv" id="follow_viewer" style="height: 360px;">

                        {% for user in user_profile.followers %}

                        <div class="card post-shadow mb-2" style="border: 2px solid black;">
                            <div class="row d-flex justify-content-between">
                                <div class="col-3 container-fluid">
                                    {% if user.profile_photo %}
                                    <img src="{{ user.profile_photo.url }}" alt="Generic placeholder image"
                                        class="img-fluid img-thumbnail my-1 ms-1" id="profile_pic"
                                        style="width: 70px; height: 70px;">
                                    {% else %}
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                                        alt="Generic placeholder image" class="img-fluid img-thumbnail my-1 ms-1"
                                        id="profile_pic" style="width: 70px; height: 70px;">
                                    {% endif %}
                                </div>
                                <div class="col-5 text-center mt-4">
                                    <p class="d-inline-block text-truncate row" style="max-width: 120px;">
                                        {{ user.name }}
                                    </p>
                                </div>
                                <div class="col-2 card-body mt-2">
                                    <button class="btn btn-outline-dark btn-sm" onclick="FollowUser('{{user.name}}')"
                                    id="{{ user.name }}_follow_btn">{{ user.my_follow_status }}</button>
                                </div>
                            </div>
                        </div>

                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="container card col-5 scrollDiv post-container" style="height: 625px;">
            {% for postData in postDatas %}
            {% include 'partials/post.html' with postData=postData from="home" %}
            {% endfor %}
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script>
        const csrfToken = "{{ csrf_token }}";
        const follow_unfollow_url = "{% url 'follow_unfollow' %}"; // follow.js
        const load_followers_and_followings_url = "{% url 'load_followers_following' %}"; // home.js
        const like_post_url = "{% url 'like_post' %}"; //post.js
        
        // Close messages after 5 seconds
        setTimeout(function() {
            document.getElementById('msg_').style.display = 'none';
        }, 5000);
    </script>
    <script src="/static/js/post.js"></script>
    <script src="/static/js/home.js"></script>
    <script src="/static/js/follow.js"></script>

</body>

</html>