<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArtFusion | Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    {% include 'partials/navbar.html' with logged_in=user_profile.logged_in nav_active=user_profile.nav_active %}
    <section class="h-100 gradient-custom-2">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                    <div class="card">
                        <div class="rounded-top text-white d-flex flex-row"
                            style="background-color: #000; height:200px;">
                            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">

                                {% if profile_data.profile_photo %}
                                <img src="{{ profile_data.profile_photo.url }}" alt="Generic placeholder image"
                                    class="rounded-circle img-fluid img-thumbnail mt-4 mb-2" id="profile_pic"
                                    style="width: 150px; z-index: 1;">
                                {% else %}
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                                    alt="Generic placeholder image"
                                    class="rounded-circle img-fluid img-thumbnail mt-4 mb-2" id="profile_pic"
                                    style="width: 150px; z-index: 1;">
                                {% endif %}

                                {% if profile_data.user_s_profile %}
                                <a type="button" class="btn btn-primary" data-mdb-ripple-color="dark"
                                    style="z-index: 1;" href="{% url 'update_profile' user=user_profile.userName %}">
                                    Edit profile
                                </a>
                                {% else %}
                                {% if profile_data.user_is_follower %}
                                <button type="button" class="btn btn-primary" data-mdb-ripple-color="dark"
                                    id="{{profile_data.userName}}_follow_btn" style="z-index: 1;"
                                    onclick="FollowUser('{{profile_data.userName}}')">
                                    Following
                                </button>
                                {% else %}
                                <button type="button" class="btn btn-primary" data-mdb-ripple-color="dark"
                                    id="{{profile_data.userName}}_follow_btn" style="z-index: 1;"
                                    onclick="FollowUser('{{profile_data.userName}}')">
                                    Follow
                                </button>
                                {% endif %}
                                {% endif %}
                            </div>
                            <div class="ms-3" style="margin-top: 130px;">
                                <h5 id="username_header">{{ profile_data.userName }}</h5>
                                <p>{{ profile_data.profession | default:"New York"}}</p>
                            </div>
                        </div>
                        <div class="p-4 text-black" style="background-color: #f8f9fa;">
                            <div class="d-flex justify-content-end text-center py-1">
                                <div>
                                    <p class="mb-1 h5">{{ profile_data.posts | length | default:0 }}</p>
                                    <p class="small text-muted mb-0">Posts</p>
                                </div>
                                <div class="px-3">
                                    <p class="mb-1 h5">{{ profile_data.followers | length | default:0 }} <span
                                            id="following_warning"></span> </p>
                                    <p class="small text-muted mb-0">Followers</p>
                                </div>
                                <div>
                                    <p class="mb-1 h5">{{ profile_data.following | length | default:0 }}</p>
                                    <p class="small text-muted mb-0">Following</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-4 text-black">
                            <div class="mb-5">
                                <p class="lead fw-normal mb-1">About</p>
                                <div class="p-4" style="background-color: #f8f9fa;">
                                    <!-- <p class="font-italic mb-1">Web Developer</p>
                                    <p class="font-italic mb-1">Lives in New York</p> -->
                                    <p class="font-italic mb-0">{{ profile_data.about_user | default:"Photographer" }}
                                    </p>
                                </div>
                            </div>
                            <div class="justify-content-between align-items-center mb-2">
                                <!-- <p class="lead fw-normal mb-0">Recent photos</p>
                                <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p> -->
                                <ul class="nav nav-tabs card-header-tabs d-flex justify-content-evenly">
                                    <li class="nav-item text-center" style="width: 33%;">
                                        <a class="nav-link fol active fol-fol" id="posts_btn" aria-current="true"
                                            onclick="load_post('{{profile_data.userName}}')">Posts</a>
                                    </li>
                                    <li class="nav-item text-center" style="width: 33%;">
                                        <a class="nav-link fol" id="followers_btn" aria-current="true"
                                            onclick="load_follow_ers_ing('{{profile_data.userName}}', 'followers')">Followers</a>
                                    </li>
                                    <li class="nav-item text-center" style="width: 33%;">
                                        <a class="nav-link fol" id="following_btn" aria-current="true"
                                            onclick="load_follow_ers_ing('{{profile_data.userName}}', 'following')">Following</a>
                                    </li>
                                </ul>
                            </div>
                            <div id="show_content" class="scrollDiv card-body" style="max-height: 625px;">
                                {% for postData in profile_data.posts %}
                                {% include 'partials/post.html' with postData=postData from="profile" %}
                                {% endfor %}
                                <!-- <div class="row g-2">
                                    
                                </div>
                                <div class="row g-2">
                                    
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script>
        const csrfToken = "{{ csrf_token }}";
        // function update_post_follower_following_navbar(what_to_load) {
        //     var followers_btn = document.getElementById('followers_btn');
        //     var following_btn = document.getElementById('following_btn');
        //     var posts_btn = document.getElementById('posts_btn');
        //     if (what_to_load == "followers") {
        //         followers_btn.classList.add("active", "fol-fol");
        //         following_btn.classList.remove("active", "fol-fol");
        //         posts_btn.classList.remove("active", "fol-fol");
        //     } else if (what_to_load == "following") {
        //         followers_btn.classList.remove("active", "fol-fol");
        //         following_btn.classList.add("active", "fol-fol");
        //         posts_btn.classList.remove("active", "fol-fol");
        //     } else if (what_to_load == "posts") {
        //         followers_btn.classList.remove("active", "fol-fol");
        //         following_btn.classList.remove("active", "fol-fol");
        //         posts_btn.classList.add("active", "fol-fol");
        //     }
        // }
        const like_post_url = "{% url 'like_post' %}"; //post.js
        const follow_unfollow_url = "{% url 'follow_unfollow' %}"; // follow.js
        const load_followers_and_followings_url = "{% url 'load_followers_following' %}"; // profile.js
        const load_posts_url = "{% url 'load_posts' %}"; // profile.js
    </script>
    <script src="/static/js/post.js"></script>
    <script src="/static/js/profile.js"></script>
    <script src="/static/js/follow.js"></script>
</body>

</html>