<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArtFusion | Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/post.css">
</head>

<body>
    {% include 'partials/navbar.html' with is_loggedin=user_data.is_loggedin username=user_data.username nav_active="profile" %}
    {% include 'partials/messages.html' with messages=messages %}
    <section class="h-100 gradient-custom-2">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                    <div class="card">
                        <div class="rounded-top text-white d-flex flex-row"
                            style="background-color: #000; height:200px;">
                            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                                <div style="z-index: 1; margin-top: 20px">
                                    <img src="{% if profile_data.profile_photo %} {{ profile_data.profile_photo.url }} {% else %} /static/img/placeholder-profile-picture.png {% endif %}" 
                                        class="profile-img" id="profile_pic" style="border: 5px solid white;" alt="{{ profile_data.username }}">
                                </div>

                                {% if profile_data.is_own_profile %}
                                <a type="button" class="btn btn-primary" data-mdb-ripple-color="dark"
                                    style="z-index: 1;" href="{% url 'update_profile' user=profile_data.username %}">
                                    Edit profile
                                </a>
                                {% elif profile_data.is_currentuser_follower %}
                                <button type="button" class="btn btn-primary" data-mdb-ripple-color="dark" 
                                    style="z-index: 1;" data-action="unfollow"
                                    onclick="followUser(this, '{{profile_data.username}}')">
                                    Following
                                </button>
                                {% else %}
                                <button type="button" class="btn btn-primary" data-mdb-ripple-color="dark" 
                                    style="z-index: 1;" data-action="follow"
                                    onclick="followUser(this, '{{profile_data.username}}')">
                                    Follow
                                </button>
                                {% endif %}
                            </div>
                            <div class="ms-3" style="margin-top: 130px;">
                                <h5 id="username_header">{{ profile_data.username }}</h5>
                                <p>{{ profile_data.profession | default:"Your Profession"}}</p>
                            </div>
                        </div>
                        <div class="p-4 text-black" style="background-color: #f8f9fa;">
                            <div class="d-flex justify-content-end text-center py-1">
                                <div>
                                    <p class="mb-1 h5">{{ profile_data.post_count | default:0 }}</p>
                                    <p class="small text-muted mb-0">Posts</p>
                                </div>
                                <div class="px-3">
                                    <p class="mb-1 h5">{{ profile_data.followers_count | default:0 }} <span
                                            id="following_warning"></span> </p>
                                    <p class="small text-muted mb-0">Followers</p>
                                </div>
                                <div>
                                    <p class="mb-1 h5">{{ profile_data.following_count | default:0 }}</p>
                                    <p class="small text-muted mb-0">Following</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-4 text-black">
                            <div class="mb-5">
                                <p class="lead fw-normal mb-1">About</p>
                                <div class="p-4" style="background-color: #f8f9fa;">
                                    <p class="font-italic mb-0">
                                        {{ profile_data.about_user | default:"Mention about youself" }}
                                    </p>
                                </div>
                            </div>
                            <div class="justify-content-between align-items-center">
                                <div class="nav nav-tabs" style="display: flex;">
                                    <li class="nav-item text-center" style="flex: 1;">
                                        <a class="nav-link profile-nav profile-nav-active active" id="show_posts" aria-current="true"
                                            onclick="showXsHideYs('show_content_post', 'show_content_followers', 'show_content_following');changeClass(this);">Posts</a>
                                    </li>
                                    <li class="nav-item text-center" style="flex: 1;">
                                        <a class="nav-link profile-nav" id="show_followers" aria-current="true"
                                            onclick="showXsHideYs('show_content_followers', 'show_content_post', 'show_content_following');changeClass(this);">Followers</a>
                                    </li>
                                    <li class="nav-item text-center" style="flex: 1;">
                                        <a class="nav-link profile-nav" id="show_following" aria-current="true"
                                            onclick="showXsHideYs('show_content_following', 'show_content_post', 'show_content_followers');changeClass(this);">Following</a>
                                    </li>
                                </div>
                            </div>
                            <div id="show_content_post" class="scroll-y card-body profile-content">
                                {% for postData in profile_data.posts %}
                                <div style="margin-bottom: 1rem;">
                                    {% include 'partials/post.html' with postData=postData show_link_in_comment_icon=True show_delete_button=profile_data.is_own_profile %}
                                </div>
                                {% endfor %}
                            </div>
                            <div id="show_content_followers" class="scroll-y card-body profile-content" style="display: none;">
                                {% for userdata in profile_data.followers %}
                                {% include 'partials/follower_card.html' with user=userdata is_loggedin=user_data.is_loggedin %}
                                {% endfor %}
                            </div>
                            <div id="show_content_following" class="scroll-y card-body profile-content" style="display: none;">
                                {% for userdata in profile_data.following %}
                                {% include 'partials/follower_card.html' with user=userdata is_loggedin=user_data.is_loggedin %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script>
        const csrfToken = "{{ csrf_token }}";
        const follow_user_url = "{% url 'follow_user' %}"; // index.js
        
        const like_post_url = "{% url 'like_post' %}"; //post.js

        // Enable tooltip
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

        function showXsHideYs(x1ElementID, y1ElementID, y2ElementID){
            let x1 = document.getElementById(x1ElementID);
            let y1 = document.getElementById(y1ElementID);
            let y2 = document.getElementById(y2ElementID);

            x1.style.display = "block";
            y1.style.display = "none";
            y2.style.display = "none";
        }
        
        function changeClass(thisElement){
            let elements = document.getElementsByClassName("profile-nav");
            for (let i = 0; i < elements.length; i++) {
                elements[i].classList.remove('profile-nav-active','active');
            }
            thisElement.classList.add('profile-nav-active','active');
        }

    </script>
    <script src="/static/js/index.js"></script>

</body>

</html>