<div class="container my-2" data-bs-theme="dark" style="width: 530px;">
    <div class="card post-shadow">
        {% if from == "home" %}
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h5 class="card-title"><a class="nav-link" href="{% url 'profile' postData.username %}">{{postData.username | default:"User Card title"}}</a></h5>
                <p class="card-text">{{ postData.created_at }}</p>
            </div>
            <!-- <h5 class="card-title">{{postData.user | default:"User Card title"}}</h5> -->
            <hr>
        </div>
        {% endif %}
        {% if postData.post_image.name %}
        <img src="{{ postData.post_image.url }}" class="card-img p-1" alt="image">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ postData.post_title | default:"Desc Card title"}}</h5>
            <p class="card-text">{{ postData.post_content | default:"Some quick example text to build on the card title and make up the bulk of the card's content."}}</p>
        </div>
        <hr>
        <div class="card-body row">
            <div class="col-4 d-flex justify-content-center">
                <i class="bi bi-send fol"></i>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <i class="bi bi-chat fol" onclick="view_whole_post('{{ postData.pk }}')"></i>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <i class="bi bi-heart fol" style="color: red;" onclick="like_post('{{ postData.pk }}')" id="{{ postData.pk }}_post_like"></i>
                <span>{{ postData.likes.likes | length | default:"13" }}</span>
            </div>
        </div>
    </div>
</div>